body {
    background-color: yellowgreen;
    font-family: monospace;
}


main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

input {
    width: 50vw;
    height: 10vh;
    margin: 10px;
    background-color: antiquewhite;
    border-radius: 4px;
    font-size: 19px;
}

label {
    font-size: 20px;
    font-weight: bold;
    color: blue;
    margin: 10px;
}

#output-box{
    width: 60vw;
    height: 10vh;
    background-color: rgb(237, 154, 53);
    margin-top: 15px;
    font-size: 18px;
    padding: 5px;
    font-weight: bold;
}
